@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #000000;
}

.song-sounds-text {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  height: 2rem;
  width: 15rem;
  z-index: 10;
}

.song-number-text {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  height: 2rem;
  width: 15rem;
  z-index: 10;
}

.animals {
  display: block;
}

.container {
  display: flex;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .animals {
    display: flex;
  }
}
